[submodule "Cashew/vendor/spdlog"]
	path = Cashew/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Cashew/vendor/GLFW"]
	path = Cashew/vendor/GLFW
	url = https://github.com/TheCherno/glfw
